@page
@model WebApp.Pages.Projects.DetailsModel
@{
    ViewData["Title"] = "Project Details";
}

<h2>Project Details Page</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Project.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Project.Description)
        </dd>
    </dl>
</div>