@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>This is a bug tracking web app, inspired by <br/><a href="https://www.youtube.com/watch?v=oC483DTjRXUz">The 1 Coding
            Project Idea Guaranteed To Get You A Software Development Job</a></p>

</div>
